h2{
    margin-top: 55px;
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #5e6399;
}

.imgGame {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    margin-top: 60px;
 }
 
 .imgGame img {
    height: 200px;
    border-radius: 15px;
    margin-left: 30px; 
    cursor: pointer;
 }

 imgGame img:hover {
    height: 220px; /* Increase the height when hovered */
 }